<h1 class = "strive" >STRIVE</h1>

<% provide(:title, "Log in") %>
<body>
<h3>Log in</h3>

<div class="row">
    <%= form_tag login_path do %>
      <%= label_tag "E-mail" %>
      <%= email_field_tag :email %>
      <%= label_tag "Password" %>
      <%= password_field_tag :password %>
      <%= submit_tag "Log in" %>
    <% end %><br>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
