<html class = "log" >
<div id= "login_page">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
    <style>
      h5 {
        color: white;
        background-color: black;
         }
      body{
        color: white;
        background-color: black;
      }
    </style>
    </head>
  <h1 class = "strive" >STRIVE</h1>

  <div class="login">
    <h5>READY, SET, GOAL</h5>
    <body>
        <div class="row" "form-group">
          <%= form_tag login_path do %><br>
            <p><b><%= label_tag "E-mail" %></b></p>
            <p><%= email_field_tag :email %></p>
            <p><b><%= label_tag "Password" %></b></p>
            <p><%= password_field_tag :password %></p>
            <p><button type="button" class="btn btn-dark"> <%= submit_tag "Log in" %></button></p>
          <% end %><br>
        </div>
      <h5>New user? <%= link_to "Sign up now!", signup_path %></h5>

    </body>
  </div>
</div>
</html>
