<html class= "usershow">

  <head>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

      <style>
          body{
              font-family: 'Fjalla One', sans-serif;
              letter-spacing: .5px;
              position: relative;
              top: 5px;
              bottom:60px;
              right:100px;
              left:20px;
              color:white;
              font-size: 25px;
              background-color:black;
              opacity: .8;
            }
          a{
            color:white;
          }
          span{
            font-size: 80px;
            background-color:black;
          }
      </style>
  </head>

<h1>About this Task</h1>
  <body>
  <p> <b>Task: </b><%= @task.task_name %> </p>
  <p> <b>Date:<b> <%= @task.date.strftime("%b %d, %Y")%> </p>
  <p> <b>Completed? </b>: <%= @task.completed%> </p>

  <p><%= link_to "Edit Task", edit_task_path(@task)%></p>
  <p><%= link_to "Home Page", user_path(@user) %></p>
  <button class="ui black button"><%= button_to "Delete Task", task_path(@task), method: "delete"%></button>

</body>
</html>
