
<% if !!flash[:errors]%>
<% flash[:errors].each do |error| %>
<p> <%= error %> </p>
<%end%>
<%end%>

<!-- LOGIN  -->

<div>
    <p><%= form_for(@user) do |f|%></p>
      <p><%= f.label :first_name %></p>
      <p><%= f.text_field :first_name %></p>
      <p><%= f.label :last_name %></p>
      <p><%= f.text_field :last_name %></p>
      <p><%= f.label :email %></p>
      <p><%= f.email_field :email %></p>
      <p><%= f.label :password %></p>
      <p><%= f.password_field :password %></p>
      <p><%= f.label :password_confirmation, "Confirmation" %></p>
      <p><%= f.password_field :password_confirmation %></p>
      <p><%= f.submit "Create my account" %></p>
    <% end %>
</div>
