<h1>Welcome back <%= @user.first_name %> </h1>

  <body>

    <h3> Your Fitness Goals </h3>
      <%@user.goals.each do |g|%>
      <ul>
      <li><%= link_to g.goal_name, g %></li>
      <%end%><br>
      </ul>

<!-- Show the user their tasks-->



      <p><%= link_to "Make a new goal!", new_goal_path(@user) %></p><hr>

    <h4>Profile Info</h4>
      <p> <b>User Name: </b><%= "#{@user.first_name} #{@user.last_name}" %> </p>
      <p> <b>User Email: </b><%= @user.email %> </p>

      <p><%= link_to "Edit My Account", edit_user_path(@user)%></p>
      <button class="ui black button"><%= button_to "Delete My Account", user_path(@user), method: "delete"%></button>

</body>
