
<% if !!flash[:errors]%>
<% flash[:errors].each do |error| %>
<p> <%= error %> </p>
<%end%>
<%end%>

<body>
<p><%= form_for @goal do |f| %></p>
<p><%= f.label "Goal Name" %></p>
<p><%= f.text_area :goal_name %></p>
<p><%= f.label "User Id" %></p>
<p><%= f.text_field :user_id %></p>
<p><%= f.label "Frequency" %></p>
<p><%= f.select :frequency, [['Daily', 1], ['Weekly', 2], ['Monthly', 3]]%>
<p><%= f.label "Duration" %></p>
<p><%= f.text_field :duration %></p>
<p><%= f.submit %></p>
<%end%>
</body>
