  <h1 class = "strive" >STRIVE</h1><br>

  <body>

    <h3> <b>Goal: </b><%= @goal.goal_name%> </h3><br>
    <h5>Goal Categories:<% @goal.categories.each do |c|%></h5>
    <li><%=c.goal_type %></li>
    <%end%><br>

    <h5>To accomplish this goal you must complete the following: </h5>
    <%@goal.tasks.each do |task|%>
    <li> <%=link_to task.task_name.capitalize, task %><br></li>
    <%end%><br>



    <h5>Schedule a workout below!</h5>
    <p><%= link_to "Schedule a workout", new_task_path%></p>
  </body>
  <hr>
  <p><%= link_to "Edit Goal", edit_goal_path(@goal)%></p>
  <p><%= link_to "Go back to your goals", user_path %></p>
  <button class="ui black button"><%= button_to "Delete Goal", goal_path(@goal), method: "delete"%></button>
